
  <!-- <ul class="list-group mb-2">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        MARICARME 
      <button type="button" class="btn btn-danger">
      50€     </button>    </li>
     </ul> -->


     <div class="row justify-content-between shadow p-3 rounded mt-3" >
     
        <div class="d-flex col-5 gap-5">
          <div>
            <h5>{{member.firstName}} {{member.lastName}}</h5>
            <small>{{member.email}}</small>
          </div>
          <h4>{{member.percent}}%</h4>
        </div>
        <div class="col-5 text-end ">
          <h5 class="align-middle text-primary">SALDO</h5>
        </div>
 