


<section class="card shadow border-primary ">

  <div class="card-header  text-center border-primary custom-header ">
    <h5 class="card-title custom-title ">{{member.firstName}} {{member.lastName}}</h5>
        <small class="text-muted custom-subtitle">{{member.email}}</small>
  </div>

  <div class="row justify-content-between text-center card-body">

    <div class="col-4">
      <h4>Total pay</h4>
    </div>

    <div class="col-4">
      <p class="custom-title">Porcentaje a pagar</p>
      <p class="custom-subtitle">{{member.percent}}%</p>
    </div>

    <div class="col-4">
      <h5 class="align-middle text-primary">SALDO</h5>
    </div>

  </div>
</section>



  
      
 