<section class="container ">
  <!-- <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Gasto</th>
      </tr>
    </thead>
  </table> -->

    
      @for (spent of spents; track spent.id) {   
        <div class="">
          <app-gastos-card [miSpent]="spent" class="p-4"></app-gastos-card>
        </div>
      } @empty {
        <h2 class="text-danger">NO HAY RESULTADOS</h2>
      }
   
</section>

          
    <!-- Botón crear gasto -->
    <div class="d-flex justify-content-center position-sticky sticky-bottom mt-3">
      <button class="btn btn-success rounded-pill float-end fs-3 px-4 mb-3" (click)="openGastosModal()">Nuevo gasto</button>
    </div>
  
    @if (isGastosModalOpen) {
      <app-crear-gastos [idGroup]="idGroup" (close)="closeGastosModal()"></app-crear-gastos>
    }os>