 
<section class="container p-4">
    <h3>NUEVO GASTO</h3>
    <form [formGroup]="spentsForm" (ngSubmit)="getDataForm()" class="mt-4">
        <div class="mb-3">
            <label class="form-label" for="name">Nombre gasto</label>
            <input class="form-control"  type="text" id="name" formControlName="name">
            @if(checkControl('name', 'required')){
                <p class="error">Campo requerido</p>
                }
          
                @if(checkControl('name', 'minlength') ){
                <p class="error">El campo tiene que tener minimo 3 caracteres</p>
                }
        </div>
        <div class="mb-3">
            <label class="form-label" for="amount">Cantidad</label>
            <input class="form-control"  type="number" id="amount" formControlName="amount">
            @if(checkControl('amount', 'required')){
                <p class="error">Campo requerido</p>
                }
          
                @if(checkControl('amount', 'minlenght')){
                <p class="error">El campo tiene que tener minimo 1 caracteres</p>
                }
          
        </div>
        <div class="mb-3">
            <label class="form-label" for="date">Fecha</label>
            <input class="form-control"  type="date" id="date" formControlName="date">
            @if(checkControl('date', 'required')){
                <p class="error">Campo requerido</p>
                }
          
                      
        </div>
       
        
        <input type="submit" value="Enviar" class="btn btn-outline-dark mt-3" [disabled]="!spentsForm.valid">
    </form>
</section>