* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 20px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar img {
    height: 50px;
    width: auto;
  }
  
  .navbar .navbar-toggler {
    float: right;
    padding: 14px 20px;
    border: none;
    background: none;
  }
  
  .navbar .navbar-toggler i {
    color: white;
  }
  
  /* Estilos para móviles y pantalla pequeña */
  @media screen and (max-width: 600px) {
    .navbar a, .navbar .navbar-toggler {
        float: none;
        display: block;
        text-align: left;
    }
  }
  
  