<!-- <div class="card shadow">
    <h3 class="card-header text-center">{{miSpent.name}}</h3>
    <ul class="list-group m-1">
        <li class="list-group-item">{{miSpent.date}}</li>
        <li class="list-group-item bg-primary text-white">haha lol: {{miSpent.amount}}</li>
    </ul>
</div> -->

   

    <div class="">
      <div class="row justify-content-center shadow p-2 rounded" >
          @if (!editing) {
            <div class="col-5">
              <h3>{{miSpent.name}}</h3>
              <p>{{miSpent.date}}</p>
              <p>{{getMemberNameById(miSpent.idPayer)}}</p>
              
            </div>
            <div class="col-5 text-end ">
              <h4 class="align-middle pt-3 text-primary">{{miSpent.amount}}</h4>
            </div>

          } @else {


            <form [formGroup]="spentsForm" (ngSubmit)="applyEdit()" class="mt-4">
              <div class="mb-3">
                  <label class="form-label" for="name">Nombre gasto</label>
                  <input class="form-control"  type="text" id="name" formControlName="name">
                  @if(checkControl('name', 'required')){
                      <p class="error">Campo requerido</p>
                  }
                
                      @if(checkControl('name', 'minlength') ){
                      <p class="error">El campo tiene que tener minimo 3 caracteres</p>
                      }
              </div>
              <div class="mb-3">
                  <label class="form-label" for="amount">Cantidad</label>
                  <input class="form-control"  type="number" id="amount" formControlName="amount">
                  @if(checkControl('amount', 'required')){
                      <p class="error">Campo requerido</p>
                      }
                
                      @if(checkControl('amount', 'minlenght')){
                      <p class="error">El campo tiene que tener minimo 1 caracteres</p>
                      }
                
              </div>
              <div class="mb-3">
                  <label class="form-label" for="date">Fecha</label>
                  <input class="form-control"  type="date" id="date" formControlName="date">
                  @if(checkControl('date', 'required')){
                      <p class="error">Campo requerido</p>
                      }
                
           
              </div>
              
              <div class="float mt-2">
                <button class="btn btn-success me-1" type="submit">Apply</button>
                <button class="btn btn-secondary" type="reset" (click)="editMode()">Cancel</button>
            </div> 
              
           </form>








              <!-- <form #form="ngForm" (ngSubmit)="applyEdit(form)">
                  <label for="name">Name:</label>
                  <input class="form-control" type="text" pattern="(?=.*[a-zA-Z])[\w\s]*" [class.is-valid]="name.valid" [class.is-invalid]="name.invalid && name.dirty" [ngModel]="spent.name" #name="ngModel" name="name" id="name" [placeholder]="spent.name || 'Type a group name'" minlength="2" maxlength="15" ngModel required>
                  @if (name.invalid && name.dirty) {
                      <div class="text-danger">
                          @if (name.errors?.['required']) { <span>Required</span> }
                          @if (name.errors?.['minlength']) { <span>Min length is 2 characters</span> }
                          @if (name.errors?.['pattern'] && !name.errors?.['minlength']) { <span>Group name must contain characters</span> }
                      </div>
                  }
                  <label for="description" class="mt-2">Description:</label>
                  <textarea class="form-control" type="text" [ngModel]="spent.amount" name="description" id="description" [placeholder]="spent.amount || 'Type a description'" ngModel></textarea>

                  <div class="float-end mt-2">
                      <button class="btn btn-success me-1" type="submit">Apply</button>
                      <button class="btn btn-secondary" type="reset" (click)="editMode()">Cancel</button>
                  </div>
              </form> -->
          }

          <div class="col-2 text-end ">
            <div ngbDropdown class="d-inline-block float-end">
              <button type="button" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>
                  Options
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button (click)="editMode()" ngbDropdownItem>
                      @if (editing) {
                          <span class="text-danger">Cancel</span>
                      } @else {
                          Edit
                      }
                  </button>
                  <!-- <button ngbDropdownItem>
                      Members
                  </button> -->
                 <button ngbDropdownItem class="text-danger" (click)="onDelete()">
                      Delete
                  </button> 
              </div>
          </div>
          </div>


      </div>
  </div>







    
    
  


