<div class="card shadow">
    <h3 class="card-header text-center">Maricarmen</h3>
    <ul class="list-group m-1">
        <li class="list-group-item">Asunto: GASOLINA</li>
        <li class="list-group-item">Email: maricarmeaftergmail.com</li>
        <li class="list-group-item bg-primary text-white">GASTO: 30€</li>
    </ul>
</div>


<!-- <div class="card shadow">
    <h3 class="card-header text-center">{{ miUsuario.nombre }}</h3>
    <ul class="list-group m-1">
        <li class="list-group-item">Asunto{{ miUsuario.edad }}</li>
        <li class="list-group-item">Email: <a [href]="'mailto:' + miUsuario.email" class="text-danger">{{ miUsuario.email }}</a></li>
        <li class="list-group-item bg-dark text-white">{{ miUsuario.curso }}</li>
    </ul>
</div> -->
